<!DOCTYPE html>
<html>
<head>
  <title>WaitLess</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Google maps scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
  <link href='http://fonts.googleapis.com/css?family=Bitter:400,700' rel='stylesheet' type='text/css'>

</head>
<body>

<nav>

  <div class="nav-title"><%= link_to "Waitless", root_path %></div>

  <div class="user-login">
    <% if current_user %>
      <%= link_to "#{current_user.name}", users_path %> |
      Make a Reservation |
      <%= link_to "Signout", logout_path, method: 'delete' %>
    <% else %>
      <%= link_to "Login", session_path %>
       |
      <%= link_to "Signup", new_user_path %>
    <% end %>
  </div>

</nav>

<main>
	<%= yield %>
</main>

</body>
</html>
