<h1>Welcome Back <%= current_user.name %></h1>

<div class="body-wrapper">
  <% if current_user.admin %>
    <% if @restaurant %>
        <h1>Here is your waitlist for <%=@restaurant_hash['name']%></h1>
        <% @reservations = @restaurant.reservations %>
        <%= render :partial => "reservations/reservations", locals: {reservations: @reservations,restaurant:@restaurant} %>
        <% if @reservations.length == 0 %>
          <h1>You don't have any reservations yet!</h1>
        <% end %>
    <% else %>
      <h1>You don't have any restaurants!</h1>
    <% end %>
  <% else %>
    <% if @reservations.any? %>
      <% find_user_reservation = @reservations.where(user_id: @user.id).first %>
      <h1>Current Reservation</h1>
      <div class="current-reservation-wrapper">
        <div class="current-wait-time">
  		    <div class="user-wait-time"><%= find_user_reservation.restaurant.wait_time %></div>
  		    <div class="user-wait-time-text">minute(s) until you are seated</div>
          </div>

      <div class="current-restaurant">
        <div><label>Restaurant</label></div>
          <div><%= @restaurant.title %></div>
        <div><label>Amount in Your Party</label></div>
          <div><%= @position %></div>
        <div><label>Name on Reservation</label></div>
          <div><%= @reservation.name%></div>
          <div><img src="<%=@restaurant_hash['image_url']%>"></div>
      </div>

<!--       <div class="current-restaurant-img">
        
      </div> -->

<!--       <div class="user-options">
        <div><a href="#" class="result-button">Edit Reservation</a></div>
        <div><a href="#" class="result-button">Remove From List</a></div>
      </div> -->

    <% else %>

      <p align=center><em>You are currently not on any restaurant's waitlist.</em></p>
      <div class="make-reservation">
       <h1>Make a Reservation</h1>
        <%= form_tag(restaurants_path, :method => "get", id:"search-form") do %>
          <table align=center class="search-form">
            <tr>
              <td>Restaurant Name/Food Type</td>
              <td><%= text_field_tag :search, params[:search], placeholder: "Mexican, Philz Coffee, etc." %></td>
            </tr>
            <tr>
              <td>Location</td>
              <td><%= text_field_tag :location, params[:location], placeholder: "San Francisco, CA" %></td>
            </tr>
            <tr>
              <td><%= submit_tag "Search", :class => 'home-search' %></td>
              <td>Powered by <a href="http://www.yelp.com">Yelp</a></td>
            </tr>
          </table>
        <% end %>
      </div>
    <% end %>
  <% end %>

</div>
