<html>
<head>
  <title>WaitLess</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Google maps scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
  <style>
    #map-canvas {
      height: 350px;
      margin: 10px 0px 0px 0px;
    }


.waitless-description { 
  width: 60%;
  margin: 0 auto;
}

    body {
      background-color: #FFFFFF;
      font-family: helvetica;
      margin: 0;
    }

    .separator {
      background:#4CAF50;
      height: 20px;
      margin-top: 10px;
    }

    label {
        color:#727272;
    }

    .home-wrapper {
      color: #727272;
      padding: 10px;
      font-size: 15px;
      text-align:center;
    }

    .home-wrapper h1 {
      color: #586949;
      font-size: 30px;
      letter-spacing: 1px;
    }

    /*BEGIN RESTAURANTS RESULT STYLING */
    h1{
      color: #004b00;
      font-family: helvetica;
      font-size: 30px;
      text-align: center;
    }

    .results-list-wrapper {
      margin: 10px 0px 10px 0px;
    }

    .result-wrapper {
      background-color: #FFFFE0;
      color: #727272;
      display: flex;
      padding: 20px;
      width: 70%;
      margin: 0px auto 10px auto;
    }

    .result-img {
      display: inline-block;
      margin-top: 50px;
      width: 33%;
    }

    .result-info {
      display: inline-block;
      line-height: 25px;
      padding: 10px;
      width: 33%;
    }

    .result-wait-time {
      color: #811212;
      display: inline-block;
      margin-top: 10px;
      width: 33%;
    }

    .result-wait-time-text0 {
      margin-top: 20px;
      font-size: 20px;
      text-align: center;
    }

    .result-wait-time-number {
      border: 10px solid #CD9B9B;
      border-radius: 20px;
      font-size: 100px;
      text-align: center;
    }

    .result-wait-time-text1 {
      font-size: 20px;
      text-align: center;
    }

    .result-info label{
      font-weight: bold;
    }

    .result-nav {
      display: block;
      width:100%;
    }

    .result-button {
      background-color: #FF5252;
      border-radius: 5px;
      font-size: 15px;
      color: #FFFFFF;
      text-decoration: none;
      padding: 5px;
    }

    .link-wrapper {
      display: block;
      margin-top: 15px;
      text-align: center;
    }

    .result-img-position {
      text-align: center;
    }

    .result-img-position img {
      border-radius: 60px;
    }

    .nav-form td{
      color: #FFFFFF;
      padding-right: 10px;
      letter-spacing: -1px;
      font-size: 20px;
    }

    table.nav-form {
      font-family: 'Arvo', serif;
    }

    #nav-form input {
      padding: 8px;
      font-size: 12px;
    }

    #nav-form input.nav-form-button{
      color: #FFFFFF;
      background-color: #CDDC39;
      border:none;
      font-size: 20px;
      border-radius: 10px;
      font-family: 'Arvo', serif;
      padding: 5px;
    }

    input.nav-form {
      padding:10px;
    }

    .nav-form td.yelp {
      color:#FFFFFF;
      font-size: 20px;
    }

    .nav-form td.yelp a {
      text-decoration: none;
      color: #DCEDC8;
    }

    .nav-title {
      display:inline-block;
      font-family: 'Lobster', cursive;
      font-size: 50px;
      font-weight: bold;
      letter-spacing: 5px;
      text-shadow: 4px 4px 0px #689F38, 7px 7px 0px rgba(0, 0, 0, 0.2);
      width: 20%;
    }

    .nav-title a {
      color: #FFFFFF;
      text-decoration: none;
    }

    nav {
      background-color: #4CAF50;
      display: flex;
      font-family: helvetica;
      font-size: 20px;
      margin: 0;
      padding: 10px 0px 0px 10px;
    }

    .right-nav {
      width: 10%;
      text-align: right;
      margin: 5px 10px 5px 0px;
      font-size: 18px;
    }

    .nav-toggle {
      border: 3px solid #FFFFFF;
      background-color: #4CAF50;
      border-radius: 5px;
      width: 50px;
      height: 50px;
      font-size: 30px;
      color: #FFFFFF;
    }

    .home-search-bar {
      margin-top: 5px;
      width: 70%;
    }

    .right-nav a{
      text-decoration: none;
      color: #DCEDC8;
    }

    .right-nav a:visited{
      text-decoration: none;
      color: #DCEDC8;
    }

  </style>

</head>
<body>
<nav>
  <div class="nav-title"><%= link_to "Waitless", root_path %></div>

  <div class="home-search-bar">
    <%= form_tag(restaurants_path, :method => "get", id:"nav-form") do %>
      <table align=center class="nav-form">
        <tr>
          <td>Restaurant or Category</td>
          <td>Location</td>
        </tr>
        <tr>
          <td><%= text_field_tag :search, params[:search], placeholder: "Mexican, Philz Coffee, etc." %></td>
          <td><%= text_field_tag :location, params[:location], placeholder: "San Francisco, CA" %></td>
          <td><%= submit_tag "Search", :class => 'nav-form-button' %></td>
          <td class="yelp">Powered by <a href="http://www.yelp.com">Yelp</a></td>
        </tr>
      </table>
    <% end %>
  </div>

  <div class="right-nav">
    <button class="nav-toggle">&dArr;</button>
      <div class="nav-menu">
        <div>&nbsp;</div>
          <% if current_user %>
            <a href="/users/<%= current_user.id %>"><%= current_user.name %></a>
            <div><%= link_to "Signout", session_path, method: 'delete' %></div>
          <% else %>
            <div><%= link_to "Login", session_path %></div>
            <div><%= link_to "Signup", new_user_path %></div>
          <% end %>
      </div>
  </div>
</nav>

<div id="map-canvas"></div>
<div class="separator"></div>

<div class="body-wrapper">
  <section class="home-wrapper">
    <h1>Welcome to WaitLess</h1>
    <p>WaitLess is designed to help you sign up on the wait list for your favorite restaurant before arriving. </p>
    <p class="waitless-descsription">Use the search bar to find a restaurant via category or name and a list of restaurants accompanied by their wait times will show. Sign up for the waitlist and you'll receive an email for when your table is almost ready!</p>

  </section>
</div>
</body>
</html>
