<html>
<head>
  <title>WaitLess</title>


  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Google maps scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

  <style>
    #map-canvas {
      height: 200px;
      margin: 10px 0px 0px 0px;
    }

    body {
      background-color: #FFFFFF;
      font-family: helvetica;
      margin: 0;
    }

    .nav-toggle {
      border: 3px solid #FFFFFF;
      background-color: #4CAF50;
      border-radius: 5px;
      width: 50px;
      height: 50px;
      font-size: 30px;
      color: #FFFFFF;
    }

    .separator {
      background:#4CAF50;
      height: 20px;
      margin-top: 10px;
    }

    nav {
      background-color: #4CAF50;
      display: flex;
      font-family: helvetica;
      font-size: 20px;
      margin: 0;
      padding: 15px;
    }

    .search-form a:link {
      color: #B6B6B6;
      text-decoration: underline;
    }

    .search-form a:hover {
      text-decoration: none;
    }

    .search-form a:visited {
      color: #B6B6B6;
      text-decoration: underline;
    }
    .nav-title {
      display:inline-block;
      font-family: 'Lobster', cursive;
      font-size: 50px;
      font-weight: bold;
      letter-spacing: 5px;
      width: 50%;
      text-shadow: 4px 4px 0px #689F38, 7px 7px 0px rgba(0, 0, 0, 0.2);
    }

    .nav-title a {
      color: #FFFFFF;
      text-decoration: none;
    }
    label {
        color:#727272;
    }

    .home-wrapper {
      color: #727272;
      display: flex;
      padding: 10px;
      font-size: 15px;
    }

    .home-wrapper h1 {
      color: #586949;
      font-size: 30px;
      letter-spacing: 1px;
      text-align: center;
    }

    .search-form td{
      font-family: helvetica;
      font-size: 15px;
      padding: 2px;
    }

    .search-form input{
      font-family: helvetica;
      font-size: 15px;
      padding: 5px;
    }

    .search-form input.home-search{
      background-color: #8BC34A;
      border-radius: 10px;
      letter-spacing: 2px;
      font-size: 20px;
      color: #FFFFFF;
    }

    .search-form {
      color: #000000;
      font-family: Helvetica;
      font-size: 20px;
    }

  </style>

</head>
<body>
<nav>
  <div class="nav-title"><%= link_to "Waitless", root_path %></div>

  <div class="home-search-bar">
    <%= form_tag(restaurants_path, :method => "get", id:"search-form") do %>
      <table align=center class="search-form">
        <tr>
          <td>Restaurant or Category</td>
          <td><%= text_field_tag :search, params[:search], placeholder: "Mexican, Philz Coffee, etc." %></td>
          <td>Location</td>
          <td><%= text_field_tag :location, params[:location], placeholder: "San Francisco, CA" %></td>
          <td><%= submit_tag "Search", :class => 'home-search' %></td>
          <td>Powered by <a href="http://www.yelp.com">Yelp</a></td>
        </tr>
      </table>
    <% end %>
  </div>

  <div class="user-login">
    <button class="nav-toggle">&dArr;</button>
      <div class="test-me">
        <div>&nbsp;</div>
          <% if current_user %>
            <%= current_user.name %>
            <div><%= link_to "Signout", session_path, method: 'delete' %></div>
          <% else %>
            <div><%= link_to "Login", session_path %></div>
            <div><%= link_to "Signup", new_user_path %></div>
          <% end %>
      </div>
  </div>
</nav>

<div id="map-canvas"></div>
<div class="separator"></div>

<div class="body-wrapper">
  <section class="">
  </section>
</div>
</body>
</html>
