<html>
<head>
  <title>WaitLess</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Google maps scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>
<body>
<nav>
  <div class="nav-title"><%= link_to "Waitless", root_path %></div>
  <div class="home-search-bar">
    <%= form_tag(restaurants_path, :method => "get", id:"search-form") do %>
      <table align=center class="search-form">
        <tr>
          <td>Restaurant or Category</td>
          <td><%= text_field_tag :search, params[:search], placeholder: "Mexican, Philz Coffee, etc." %></td>
          <td>Location</td>
          <td><%= text_field_tag :location, params[:location], placeholder: "San Francisco, CA" %></td>
          <td><%= submit_tag "Search", :class => 'home-search' %></td>
          <td>Powered by <a href="http://www.yelp.com">Yelp</a></td>
        </tr>
      </table>
    <% end %>
  </div>
  <div class="user-login">
    <button class="nav-toggle">&dArr;</button>
      <div class="test-me">
        <div>&nbsp;</div>
          <% if current_user %>
            <%= current_user.name %>
            <div><%= link_to "Signout", session_path, method: 'delete' %></div>
          <% else %>
            <div><%= link_to "Login", session_path %></div>
            <div><%= link_to "Signup", new_user_path %></div>
          <% end %>
      </div>
  </div>
</nav>

<div id="map-canvas"></div>
<div class="separator"></div>

<div class="body-wrapper">
  <section class="">
  </section>
</div>
</body>
</html>
