<div class="restaurant">
	<div class="restaurant-info">
		<%= render :partial => "result", layout: false, locals: {result: result}%>
	</div>

	<div class="waitlist">
		<%= form_for [@restaurant, @new_reservation]  do |f| %>
			<%= f.label :party_number %>
			<%= f.number_field :number_in_party %>
			<%= f.submit %>
		<% end %>
		<button class="view-my-reservation" id="goes back to home">view my reservation</button>
	</div>

	<div class="show">
		<table align=center>
      <tr>
        <td>Name</td>
        <td>Party Size</td>
        <td>Signed at:</td>
        <td>Wait Time</td>
      </tr>
      <% @reservations.each do |reservation| %>
      	<tr>
        <td><%=reservation.user.name%></td>
        <td><%=reservation.number_in_party%></td>
        <td><%=reservation.created_at%></td>
        <td><%=reservation.timer%></td>
      </tr>
      <% end %>
    </table>
	</div>
</div>