<div class="top-block">
  <div class="waitlist-window">

    <div class="result-show">
        <div class="result-wait-time-text0">Current wait time</div>
        <div class="result-wait-time-number">89</div>
        <div class="result-wait-time-text1">minute(s)</div>
    </div>

    <div class="waitlist">
      <table align=center class="waitlist-form-table">
        <%= form_for [@restaurant, @new_reservation], :html =>{:class => 'waitlist-form'} do |f| %>
        <tr>
          <td><label>Name</label></td>
          <td><%#= f.text_field :name %></td>
        </tr>
        <tr>
          <td><label>Party Number</label></td>
          <td><%= f.text_field :number_in_party %></td>
        </tr>
        <tr>
          <td><%= f.submit 'Submit Reservation', :class => 'waitlist-button' %></td>
          <td></td>
        </tr>
        <% end %>
      </table>
    </div>

  </div>

  <div class="restaurant-info">

    <img src="<%=result[:image]%>" class="restaurant-img"/>

    <table align=center class="restaurant-data-table">
      <tr>
          <td><label>Restaurant</label></td>
          <td><%= @result[:name] %></td>
      </tr>
      <tr>
          <td><label>Location</label></td>
          <td>
              <% @result[:location].each do |place| %>
                <div><%= place %></div>
              <% end %>
          </td>
      </tr>
      <tr>
          <td><label>Rating</label></td>
          <td><img src="<%= @result[:rating] %>"></td>
      </tr>
      <tr>
        <td><label>Categories</label></td>
        <td><%= @result[:categories] %></td>
      </tr>
      <tr>
        <td><label>Reviews</label></td>
        <td><%= @result[:review_count] %></td>
      </tr>
    </table>

	</div>
</div>

  <div class="restaurant-waitlist-info">
    <div class="show">
		  <table class="waitlist-table">
        <tr>
          <th>Name</th>
          <th>Party Size</th>
          <th>Signed at</th>
          <th>Wait Time</th>
        </tr>
          <% @reservations.each do |reservation| %>
            <tr>
              <td><%=reservation.user.name%></td>
              <td><%=reservation.number_in_party%></td>
              <td><%= reservation.created_at.strftime('%r')%></td>
              <td><%=reservation.timer%></td>
            </tr>
          <% end %>
      </table>
    </div>


    </div>

  </div>
